.pageWrapper {
  text-align: center;
}

table {
  position: relative;
  text-align: center;
  margin: auto;
  width: 35%;
  line-height: 1.5em;
  justify-content: start;
  border: solid #c7c8c6;
  border-collapse: collapse;
}

td,
th {
  text-align: left;
  border: solid #c7c8c6 1px;
  padding: 2px 10px;
}

button {
  margin: 20px;
  padding: 20px;
}
