.NavLink {
  text-decoration: none;
  padding-right: 50px;
  color: #fff;
}
.navbar {
  height: 40px;
  background: black;
  color: white;
  display: flex;

  padding: 30px;
}
.active {
  font-weight: bold;
  color: #fff;
}
html {
  font-size: 30px;
  color: black;
}
